body {
    padding-top: 56px;
    padding-bottom: 56px;
}

.row {
    margin: 0px;
}

.col {
    padding: 0px;
}

.playbar {
    border-top: 1.5px solid #CCC;
}

#track-item {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

#track-item:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

#track-artist-item {
    pointer-events: none;
}

#track-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#track-item.active {
    background-color: #CCC;
    border-color: #AAA;
    color: white;
    /*font-weight: 700;*/
}

.hidden {
    display: none;
}

.duration {
    width: 60%;
    height: 5px;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
}

@media only screen and (max-width: 760px) {
    .duration {
        width: 20%;
    }
    .duration-text {
        display: none;
    }
}

.duration-elapsed {
    width: 0%;
    height: 5px;

    background-color: rgba(255, 125, 125, 0.6);
    border-radius: 3px;
}

.duration-pin {
    width: 15px;
    height: 15px;

    background-color: #CCC;
    border: 1px solid #AAA;
    /*background-color: rgba(255, 0, 0, 0.5);*/
    border-radius: 10px;

    position: relative;
    top: -5px;
}

.duration-pin:hover {
    width: 6px;
    height: 30px;

    background-color: red;
    border-radius: 6px;
    top: -15px;
}

.duration-text {
    color: rgba(0, 0, 0, 0.5);

    user-select: none;
    -webkit-user-select: none;
}